.nav{
    display: flex;
    background-color: #282c34;
    height: 70px;
    font-size: calc(10px + 2vmin);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.link {
    font-family: 'Roboto', sans-serif; 
    font-size: 80%;
}
